$gold-color: #FED136;
$darker-background: #F7F7F7;
$light-background: #FFFFFF;
$font-color: #777777;

body {
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  height: 60vh;
  position: relative;
  color: $light-background;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    color: $light-background;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
  }
}

header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  font-size: 35px;
  color: $gold-color;
  font-family: 'Dancing Script', cursive;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.welcome h1 {
  font-size: 65px;
  width: 100%;
}
.welcome h3 {
  font-size: 40px;
  font-style: italic;
  font-weight: normal;
}
.welcome button {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 17px 40px;
  color: $light-background;
  background-color: $gold-color;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #dcb014;
  }
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  padding-right: 25px;
}

.nav-list li a {
  text-decoration: none;
  color: $light-background;
}

nav .container {
  padding-top: 25px;
  max-width: 80%;
}

.services {
  margin-top: 50px;
  margin-bottom: 100px;
}

.services .col-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.services .col-12 h2 {
  width: 100%;
  text-align: center;
  margin-block-end: 0;
  font-size: 32px;
}

.services .col-12 p {
  color: $font-color;
  font-style: italic;
  margin-block-start: 5px;
  font-size: 14px;
  font-weight: 400;
}

.services .col-lg-4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  transition: .2s;
  padding-top: 10px;

  &:hover {
    box-shadow: 0 0 5px black;
    border-radius: 5px;
  }
}

.services .services-logo {
  border: 3px solid $gold-color;
  border-radius: 50%;
}

.services .services-logo i {
  font-size: 35px;
  color: $gold-color;
  padding: 15px;
}

.services .col-lg-4 h5 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-block-end: 5px;
  margin-block-start: 20px
}

.services .col-lg-4 p {
  color: $font-color;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-block-start: 5px;
}
