$gold-color: #FED136;
$darker-background: #F7F7F7;
$light-background: #FFFFFF;
$font-color: #777777;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  height: 60vh;
  position: relative;
  color: $light-background;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    color: $light-background;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
  }
}

header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  font-size: 35px;
  color: $gold-color;
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.welcome h1 {
  font-size: 65px;
  width: 100%;
}
.welcome h3 {
  font-size: 40px;
  font-style: italic;
  font-weight: normal;
}
.welcome button {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 17px 40px;
  color: $light-background;
  background-color: $gold-color;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #dcb014;
    color: #eee;
  }
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  padding-right: 25px;
  transition: .3s;

  &:hover {
    transform: scale(1.2);
  }
}

.nav-list li a {
  text-decoration: none;
  color: $light-background;
}

nav .container {
  padding-top: 25px;
  max-width: 80%;
}

.services {
  padding: 100px 0 100px;
  background-color: $light-background;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.section-title h2 {
  width: 100%;
  text-align: center;
  margin-block-end: 0;
  font-size: 32px;
}

.section-title p {
  color: $font-color;
  font-style: italic;
  margin-block-start: 5px;
  font-size: 14px;
  font-weight: 400;
}

.services .col-lg-4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  transition: .2s;
  padding-top: 10px;

  &:hover {
    box-shadow: 0 0 5px black;
    border-radius: 5px;
  }
}

.services .services-logo {
  border: 3px solid $gold-color;
  border-radius: 50%;
}

.services .services-logo i {
  font-size: 35px;
  color: $gold-color;
  padding: 15px;
}

.services .col-lg-4 h5 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-block-end: 5px;
  margin-block-start: 20px
}

.services .col-lg-4 p {
  color: $font-color;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-block-start: 5px;
}

.portfolio {
  padding: 100px 0;
  background-color: $darker-background;
}

.portfolio .row {
  justify-content: center;
}

.portfolio .row .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio .row .row .col-lg-3 {
  background-color: $light-background;
  min-height: 400px;
  min-width: 320px;
  padding: 0 0 10px 0;
  margin-bottom: 50px;
  margin-right: 35px;
  text-align: center;
  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }

  &:nth-child(1) {
    margin-left: 35px;
  }
}

.portfolio .row .row .col-lg-3 .img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio .row .row .col-lg-3 h5{
  font-size: 18px;
  margin-block-end: 0;
}

.portfolio .row .row .col-lg-3 p {
  margin-block-start: 0px;
  color: $font-color;
  font-style: italic;
  font-size: 14px;
}

footer {
  background-color: $light-background;
}

footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  margin-right: 10px;
  padding: 15px 18px;
  background-color: #000;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

footer ul li a {
  color: $light-background;
  font-size: 20px;
}

footer .col-lg-5{
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .col-lg-7{
  margin: 40px 0;
}

@media(max-width: 990px) {
  .portfolio .row .row .col-lg-3 {
    margin-left: 35px;
  }
  header nav .col-lg-6 {
    text-align: center;
  }
  .nav-list {
    justify-content: center;
    align-items: center;
  }
  footer ul {
    justify-content: center;
    padding-inline-start: 0;
  }
  footer .col-lg-7 {
    margin: 20px 0;
  }
  footer .col-lg-5 {
    margin-bottom: 0;
  }
}
@media(max-width: 768px) {
  .welcome h3{
    font-size: 30px;
  }
  .welcome h1{
    font-size: 45px;
  }
}
@media(max-width:576px) {
  .nav-list {
    flex-direction: column;
  }
  .nav-list li {
    margin-bottom: 10px;
  }

  .welcome {
    top: 55%;
    transform: translateY(0);
    transform: translateX(-50%);
  }
  .welcome h3 {
    font-size: 20px;
  }
  .welcome h1 {
    font-size: 27px;
  }
  .welcome button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
